@font-face {
  font-family: 'Cascadia Code';
  font-style: normal;
  src: url('/css/CascadiaCode.ttf') format('truetype');
  font-display: fallback;
}


html {
    font-family: 'Cascadia Code';
}

a {
    text-decoration: none;
    color: #C2298A;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #C2298A;
}

#content {

}

.lbox {
    padding: 1em;
}
