<!DOCTYPE html>
<html>
  <head>
    <title>$firstname$ $lastname$ - Resume</title>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="The Resume of $firstname$ $lastname$"/>
    <meta charset="UTF-8">
    $for(author-meta)$
    <meta name="author" content="$author-meta$">
    $endfor$
    $for(css)$
    <link type="text/css" rel="stylesheet" href="$css$">
    $endfor$
    $for(header-includes)$
    $header-includes$
    $endfor$
  </head>
  <body id="top">
    $for(include-before)$
    $include-before$
    $endfor$
    <div>
      <div>
	<div>
	  <h1>$firstname$ $lastname$</h1>
          $if(jobtitle)$
          <h2>$jobtitle$</h2>
          $endif$
	</div>

        <div>
	  <ul>
            <li>✉ <a href="mailto:$email$">$email$</a></li>
            <li>🌎 <a href="http://$homepage$">$homepage$</a></li>
            <li>Linkedin: <a href="https://www.linkedin.com/in/$linkedin$">$linkedin$</a></li>
            <li>GitHub: <a href="https://github.com/$github$">$github$</a></li>
	  </ul>
	</div>
      </div>

      <div>
	<section>
	  <article>
	    <div>
	      <h3>Summary</h3>
	    </div>
	    <div>
	      <p>$summary$</p>
	    </div>
	  </article>
	</section>

	<section>
	  <div>
	    <h3>Experience</h3>
	  </div>
	  <div>
            $for(experience)$
	    <article>
	      <h4>$experience.title$ at $experience.employer$</h2>
	      <p>$experience.dates$</p>
              $for(experience.description)$
              <p>$experience.description$</p>
              $endfor$
	    </article>
            $endfor$
	  </div>
	</section>

	<section>
	  <div>
	    <h3>Interests</h3>
	  </div>
	  <div>
	    <article>
	      <p>$interests$.</p>
	    </article>
	  </div>
	  <div></div>
	</section>
      </div>
    </div>
    $for(include-after)$
    $include-after$
    $endfor$
  </body>
</html>
